#games {
    display : flex;
    flex-wrap: wrap;
    gap : 20px;
    
}

body {
    margin : 0;
}

.card {
    width: 350px;
    border: 1px solid #ccc;
    padding: 15px;
}

img {
    width : 350px;
}