#games {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 350px));
    column-gap: 20px;
    justify-content: center;
    row-gap: 30px;
    padding: 100px;
    padding-top: 30px;
    
}
button{
    background-color: rgb(51, 62, 45);
    height: 35px;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 18px;
    align-items: center;
    display: flex;
    box-shadow: 0 0 13px rgba(65, 78, 57, 0.913);
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;

}
button:hover {
    color: rgb(51, 62, 45);
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.813);
}
button:active {
    background-color: black;
    color:white;
    box-shadow: none;
}

body {
    margin : 0;
    background-color: rgb(22, 27, 24);
    font-family: "Josefin Sans", sans-serif;
}

#logo {
    margin-left: 50px;
    flex-shrink: 0;
    color: rgb(234, 242, 227);
    font-size: 25px;
    font-weight: bold;
}

#login {
    display: flex;
    margin-right: 50px;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.689);
    transition:
        background-color 0.3s ease,
        backdrop-filter 0.3s ease,
        box-shadow 0.3s ease,
        padding 0.3s ease,
        border-radius 0.3s ease;
    z-index: 1000;
}

#navbar.overlay {
    position: fixed;
    top: 10px;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 50px;
}

#search {
    height: 35px;
    width: 100%;
    border-radius: 19px;
    background-color: rgba(22, 27, 24, 0.4);
    border:none;
    box-shadow: 0 0 5px rgba(65, 78, 57, 0.913);
    padding-left:20px;
}
input::placeholder{
    font-family: "Josefin sans";
    font-weight: bold;
}

#searchbar {
    max-width: 350px;
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}
.card:hover {
    border: 1px solid rgb(51, 62, 45);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.573);
    z-index: 10;
}
.card img {
  transition: transform 0.6s ease;
}
.card:hover img {
  transform: scale(1.03);
}

img {
    width : 100%;
    height: 100%;
    border-top-left-radius: 10px;
}

.imgcont {
    position: relative;
}

.titlecontent{
    padding: 15px;
    margin: 0;
    position: relative;
    margin-top: 10px;
    flex-grow: 1;
    transition: all 0.3s ease;
}
h2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    color: rgb(234, 242, 227);
}
p {
    margin: 3px;
    color: rgb(234, 242, 227);
}


.banner {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 50;
    padding: 6px 12px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
    background: rgb(175, 0, 0);
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.486);

    
}
.green{
    color: rgb(51, 62, 45);
}

.plat{
    background-color: rgba(0, 0, 0, 0.605);
    display: inline-block;
    position: absolute;
    bottom: 8px;
    left:8px;
    font-size: 12px;
    padding:5px;
    padding-top: 7px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.pagelink {
    background-color: rgb(51, 62, 45);
    margin-top: 20px;
    text-align:center;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    margin-top: 0;
    font-weight: bold;
    transition: all 0.2s ease-in;
}
.pagelink:hover{
    background-color: rgb(97, 132, 78);
    
}

.card:hover .titlecontent {
    box-shadow: 0 -50px 40px 10px rgba(0, 0, 0, 0.525);
}

footer{
    background-color: black;
}
